

/* basic style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', FontAwesome, sans-serif;
    font-size: 14px;
    color: #212121;
    line-height: 1.4;
    background-color: rgb(255, 255, 255);
  }
    
  
  
  /*------------------------------------ NAVBAR LOGIC ------------------------------------ */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 3px 0px 3px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: #ffc400;
    /* box-shadow: 0px 2px 5px #00000048; */
  }
  
  .logo,
  .nav {
    display: inline-flex;
    margin: 0;
  }


  /* nav links */
  .nav {
    font-weight: bold;
    margin-right: 30px;
    list-style: none;  
}
    .nav-links{
    display: flex;
    flex-direction: row;
    height:100%;
    justify-content: flex-start;
    align-items: center;
    /* padding-top: 30px; */
    /* display: inline-block;
    margin-left: 40px; */
  }

  .nav-links a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    padding: 0px 20px 0 20px;
    /* background-color: teal; */
    /* display: inline-block;
    margin-left: 40px; */
    transition: all 1s;
  }

  .nav-links a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.329);
    transition: all 0.4s;
  }

  .link-button {
    height: 100%;
    width:auto;
    background-color: violet;
  }

  .ul .link-button {
    height: 100%;
    width:auto;
    background-color: violet;
  }

  .link {
    /* display: flex;
    flex:1; */
    justify-content: center;
    align-items: center;
    height:100%;
    background-color: teal;
    display: inline-block;
    padding: 0 20px 0 20px;
/* padding-top: 10%;     */
/* margin-left: 40px; */
  }

  /* .nav li:hover {
    display: inline-block;
    margin-left: 40px;
  } */
  
  .navbar a {
    color: #FFF;
    text-decoration: none;
  }
  
  /* .navbar a:hover {
    color: rgba(0, 0, 0, 0.801);
  } */
  
  .nav-right {
    /* padding-top:20px; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* line-height: 39px; */
  }

  .nav-left {
    /* padding-top:24px; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  



  /*------------------------------------ MAIN AREA LOGIC ------------------------------------ */

  .main {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 5px 10px 10px 10px;
    /* padding: 5px 10px 10px 10px; */
  }

   /*------------------------------------ CONTENT LOGIC ------------------------------------ */

  .image-cropper {
    /* margin-top: 20px; */
    margin-left: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
  }

  img {
    display: inline-flex;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .main-header {
    /* background-color: green; */
    padding: 10px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
  }

  .main-body {
    /* background-color: green; */
    padding: 5px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
  }

  .main-row{
    /* background-color:green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:auto;
    width:100%;
    margin-bottom: 30px;
  }

  .profile-button{
    pointer-events: auto;
    cursor: pointer;
  }

  .profile-button:hover{
    box-shadow: 0px 0px 0px 4px #2b2b2b25;
  }

  .profile-button:focus{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes expandCircle {
    0% {
      transform: scale(0) ;
      border-radius: 100%;
    }
    100% {
      transform: scale(1);
      border-radius: 0%;
    }
  }

  @keyframes expandCircleAndSlideIn {
    0% {
      transform: scale(0) translateY(-10%);
      opacity: 0;
      border-radius: 100%;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
      border-radius: 0%;
    }
  }
  
  .main-header-title{
    padding-left: 20px;
    padding-right: 200px;
    font-weight: 1000;
    font-size: 35px;  
  }

  .main-header-assistive{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-around;
  }

  .input-container{
    
    display:flex;
    flex-direction:row;
    border: 1px solid #707070;
    margin: 5px 0px 5px 0px;
    padding: 10px 20px 10px 20px;
    flex:1;
    font-style: normal;
    margin-right: 70px;
    margin-top: 10px;
  }

  input[type="text"]{
    flex-grow:2;
    outline:none;
    border:none;
    font-family: 'Segoe UI', FontAwesome, sans-serif;
    background-color: transparent;
  }

  .person {
    display: flex;
    flex-direction: row;
  }

  .person-picture{
    animation: 1.4s ease-out 0s 1 fadeIn;
  }

  .person-details{
    padding-left: 9px;
    padding-top: 3px;
    height:100%;
    display:flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: flex-start;
    margin:0;
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
  }
  

  .title{
    font-weight: 1000;
    font-size: 25px;
  }

  .subtitle{
    font-size: 16px;
    font-weight: normal;
    font-kerning: auto;
    letter-spacing: 1.3px;
  }

  .card {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-width: 1px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 20px 10px 20px;
    animation: 0.8s ease-out 0s 1 slideInFromTop;
    position: relative;
  }
  .card-close-button{
    visibility: hidden;
    position: absolute;
    /* background: red; */
    color: rgb(129, 129, 129);
    top: 5px;
    right: 10px;
  }

  .card:hover .card-close-button{
    visibility: visible;
  }

  /*------------------------------------ FOOTER LOGIC ------------------------------------*/
  .footer {
    flex-shrink: 0;
  }

  /*------------------------------------ TABLE LOGIC ------------------------------------ */


  table {
    font-family: arial, sans-serif;
    border-left: none;
    border-right: none;
    border-top: 0.5px solid #dddddd4d;
    border-bottom: 0.5px solid #dddddd4d;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border-bottom: 0.5px solid #dddddd4d;
    text-align: left;
    padding: 8px;
    width:fit-content;
  }

  tr:hover {
    background-color: #dddddd4d;
    border-bottom: 0.5px solid #dddddd4d;
    text-align: left;
    padding: 8px;
    width:fit-content;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */

  .more_options {
    display: inline-block;
    /* float: right; */
    padding-right: 1.5%;
    padding-top: 0.3%;
    color: rgba(94, 94, 94, 0);
    font-size: 22px;
    visibility: hidden;
    /* position: relative; */
    transform: translateX(10px);
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
  }
  
  .more_options:active .context {
    visibility: visible;
  }

  .status_buttons {
    transform: translateX(10px);
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
  }
  
  tr:hover .status_buttons {
    transition-duration: 0.2s;
    transform: translateX(-10px);
  }

  tr:hover .more_options {
    visibility: visible;
    padding-right: 3%;
    color: rgba(94, 94, 94, 1);
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    /* transform: translateX(-10px); */
  }
  



  /*------------------------------------ BUTTON LOGIC ------------------------------------ */





  
  .btn{
    border: none;
    height:80%;
    margin: 8px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius:5vw;
    /* background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)); */
    color: white;
    background-color: orange;
    outline: none;
    pointer-events: auto;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Segoe UI', FontAwesome, Tahoma, Geneva, Verdana, sans-serif;
    /* box-shadow: 12px -1px 6px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 6px 0 rgba(255, 255, 255, 0.2); */

}

.btn:active{
    border: none;
    outline: none;
}

.btn:hover{
  background: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
}

.btn:focus{
    /* box-shadow: 
    4px 4px 6px 0 rgba(255, 255, 255, 0.3) inset,
    -4px -4px 6px 0 rgba(0, 0, 0, .3) inset; */
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);

    /* background: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)); */
    /* background-color: blue; */
    outline: none;
}

.mini-button{
  padding:0;
  font-size: 21px; 
  border: none;
  pointer-events: auto;
  cursor: pointer;
}

.mini-button:active{
  border:none;
  outline: 0 !important;
}

.mini-button:focus{
  border:none;
  outline: 0 !important;
}

/************** For Context menu ***********/


/* context menu */

.over {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  visibility: hidden;
}


.context-menu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  position: absolute;
  z-index: 9999;
  padding: 12px 0;
  width: 130px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  animation: expandCircleAndSlideIn 0.2s ease-out 0s 1;

}
.context-menu--active {
  display: block;
}

.context-menu__items {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.context-menu__item {
  display: flex;
  flex-direction: row;
  flex:1;
  margin-bottom: 4px;
}
.context-menu__item:last-child {
  margin-bottom: 0;
}
.context-menu__link {
  display: flex;
  flex-direction: row;
  flex:1;
  padding: 4px 12px;
  color: #000000bd;
  text-decoration: none;
}
.context-menu__link:hover {
  color: #fff;
  background-color: #ffa60083;
  text-decoration: none;
}
.context-menu__link_generic {
  display: flex;
  flex-direction: row;
  flex:1;
  padding: 4px 12px 4px;
  color: #000000bd;
  text-decoration: none;
}
.context-menu__link_generic:hover {
  background-color: #c7c7c718;
  text-decoration: none;
}
.context-menu__link_delete {
  display: flex;
  flex-direction: row;
  flex:1;
  padding: 4px 12px;
  color: #aa0000;
  text-decoration: none;
}
.context-menu__link_delete:hover {
  color: white;
  background-color: #aa000083;
  text-decoration: none;
}
.context-menu__link_button {
  display: flex;
  flex-direction: row;
  flex:1;
  /* padding: 4px 12px; */
  margin-top: 10px;
  margin-bottom: -12px;
  background-color: #0a4cff;
  color:white;
  height:30px;
  pointer-events: auto;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
}
.context-menu__link_button:hover {
  /* background: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)); */
}
input[type="submit"]:hover{
  background: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
}
.context-menu__items ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
}
.context-menu__items > li:hover > ul {
  left: auto;
  padding-top: 5px;
  min-width: 100%;
  text-decoration: none;
}
.context-menu__items > li li ul {
  border-left: 1px solid #fff;
}
.context-menu__items > li li:hover > ul {
  left: 100%;
  top: -1px;
}
.context-menu__item ul {
  background-color: #ffffff;
  padding: 7px 11px;
  list-style-type: none;
  text-decoration: none;
  margin-left: 40px;
}
.page-media .context-menu__items ul li {
  display: block;
}
/************** For Context menu ***********/




/************** For Modal ***********/
.wrapper {
  text-align: center;
}
.wrapper h1 {
  text-transform: uppercase;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 45px;
  margin-bottom: 10px;
}
.wrapper p {
  margin-top: 0;
  margin-bottom: 40px;
}

/* Modal button */
.modal-btn {
  font-family: 'Baloo Bhaina', cursive;
  letter-spacing: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 25px;
  background-color: #ef6633;
  color: #fff;
  transition: all .3s;
}
.modal-btn:hover {
  background-color: #d25729;
}

/* Modal */
.modal {
  background-color: rgba(0,0,0,.65);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  animation: fadeIn 1s ease;
}

/* Modal Content */
.modal-content {
  /* border-radius: 10px; */
  position: relative;
  top: 0px;
  width: 600px;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation: totop-in .2s ease;
}
.modal-animated-in {
  animation: totop-in .3s ease;
}
.modal-animated-out {
  animation: totop-out .3s ease forwards;
}
.modal-header {
  background-color: white;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  box-sizing: border-box;
}
.modal-header h3{
  color: black;
}
.modal-content .close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  width: 60px;
  height: 60px;
  color: red;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}
.modal-content .close:hover {
  background-color: red;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 0 20px;
}
.modal-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal-body ul li {
  position: relative;
  display: block;
  margin-left: 20px;
  color: #555;
}
.modal-body ul li::before {
  position: absolute;
  content: '\f00c';
  color: #5cc560;
  left: -20px;
  top: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Modal Footer */
.modal-footer {
  background-color: #fafafa;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  box-sizing: border-box;

}
.modal-header h3,
.modal-footer h3 {
  color: #fff;
}

/* Keyframes */
@keyframes totop-in {
  0% {
    top: 600px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }  
}

@keyframes totop-out {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }  
}
/************** For Modal ***********/

  
  
  /* responsive */
  @media screen and (max-width: 677px) {
    .container {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .container {
      width: 90%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  