.stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
  box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
  animation: 0.8s ease-out 0s 1 slideInFromTop;
}
.stepper-horizontal .step {
  display:table-cell;
  width:25%;
	position:relative;
	padding:24px;
}
.stepper-horizontal .step:hover,
.stepper-horizontal .step:active {
	background-color:rgba(0,0,0,0.04);
}
.stepper-horizontal .step:active {
	border-radius: 15% / 75%;
}
.stepper-horizontal .step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.stepper-horizontal .step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.stepper-horizontal .step:hover .step-circle {
	background-color:#757575;
}
.stepper-horizontal .step:first-child .step-bar-left,
.stepper-horizontal .step:last-child .step-bar-right {
	display:none;
}
.stepper-horizontal .step .step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.stepper-horizontal.green .step.active .step-circle {
	background-color:#00AE4D;
}
.stepper-horizontal.orange .step.active .step-circle {
	background-color:#F96302;
}
.stepper-horizontal .step.active .step-circle {
	background-color: rgb(33,150,243);
}
.stepper-horizontal .step.done .step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.stepper-horizontal .step.done .step-circle *,
.stepper-horizontal .step.editable .step-circle * {
	display:none;
}
.stepper-horizontal .step.editable .step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.stepper-horizontal .step.editable .step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.stepper-horizontal .step .step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.stepper-horizontal .step .step-title,
.stepper-horizontal .step .step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.stepper-horizontal .step.active .step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.stepper-horizontal .step.active.done .step-title,
.stepper-horizontal .step.active.editable .step-title {
	font-weight:600;
}
.stepper-horizontal .step .step-optional {
	font-size:12px;
}
.stepper-horizontal .step.active .step-optional {
	color:rgba(0,0,0,.54);
}
.stepper-horizontal .step .step-bar-left,
.stepper-horizontal .step .step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.stepper-horizontal .step .step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.stepper-horizontal .step .step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}